{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" name="Name"
               placeholder="Post Name" class="form-control"
               value="{{ request.form['Name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="Post">Post</label>
        <textarea name="Post" placeholder="Type Here"
                  class="form-control">{{ request.form['Post'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}